
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>


        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="PaginaInicio.php">TAREA Cuantitativos</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"></li>
                    <li><a href="View/MM1View.php">MM1</a></li>
                    <li><a href="View/MMnView.php">MMn</a></li>
                    <li><a href="View/MD1View.php">MD1</a></li>
                    <li><a href="View/MM1InfinitoView.php">MM1 INFINITO</a></li>
                    
                </ul>
            </div>
        </nav>
</html>
</body>
